.loderDiv{
    height: 100%;
    width: 100%;
    background: #00000055;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerDiv{
    height: 30px;
    border-radius: 20px;
    width: 40em;
    box-shadow: 5px 0px 14px 6px rgba(20,43,71,0.81);
-webkit-box-shadow: 5px 0px 14px 6px rgba(20,43,71,0.81);
-moz-box-shadow: 5px 0px 14px 6px rgba(20,43,71,0.81);
    /* border: 1px solid white; */
    position: relative;
    overflow: hidden;
}
.outerDiv .innerDiv{
    position: absolute;
    height: 100%;
    text-align: center;
}